.inward-form{ 
    padding: 10px; 
  }
  .form-btn{
    background-color: transparent;
    width: 116px;
    padding: 6px 4px;
    border: 1px solid #a254ed;
    font-size: 13px;
  }
  .form-btn:hover{
    background-color: #a254ed;
    color: #fff;
    transition: 0.4s;
  }