h3{
    text-align: center;
    padding: 12px;
    font-weight: 600;
    font-size: 18px;
    margin: 0 !important;
}
.close-btn{
    background-color: #e9e9e9 !important;
    padding: 10px 22px !important;
    border-radius: 8px !important;
    cursor: pointer;
}


input, textarea { 
    border: 1px solid #ccc;
    padding: 5px; 
    border-radius: 4px;
    display: block;
    width: 100%; 
    font-size: 14px;
    height: 100px;
}
mat-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: aliceblue;
    padding: 10px;
}
.mat-dialog-actions {
    padding: 10px;
    border-top: 1px solid #d6d2d2;
    margin-bottom: 0;
    display: block;
    text-align: end; 
    min-height: auto;
}
.mat-dialog-content {
    margin: 0;
    padding: 15px;

}
input:focus {
    outline: none;
}
.savebtn {
    min-width: 85px;
    background-color: var(--primary-color) !important;
    color: #fff !important;
    padding:7px;
}

mat-dialog-content.mat-dialog-content p span {
    font-size: 1.15em !important;
    font-weight: 600;
}

p{
    margin-bottom:3px !important;
}
span.para-heading {
    width: 150px;
    display: inline-block;
    font-weight: 500 !important;
    text-align: left;
}