<!-- <mat-card class="mainCard card_set p-0">
    <mat-card-content class="card-body">
        <h3>Produce Bike</h3>
        <form [formGroup]="inwardForm">
            <div class="col-sm-12">
                <div class="row inward-form">
                    <div class="col-sm-4">
                        <app-date formControlName="date" [label]="'Choose Date'"></app-date>
                    </div>
                    <div class="col-sm-4">
                        <app-select-dropdown [config]="modal" formControlName="val">
                        </app-select-dropdown>
                    </div>
                    <div class="col-sm-4">
                        <app-input [label]="'Enter UID'" [type]="'text'" formControlName="name">
                        </app-input>
                    </div>
                    <div class="col-md-12 text-end">
                        <app-button [label]="'Add'" [class]="'btn btn-primary'"></app-button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card> -->