<div class="mapouter">
    <button class="btn-close" mat-dialog-close></button>
    <div class="gmap_canvas">
        <!-- <agm-map class="agm-map-container-inner" [latitude]="latitude" [longitude]="longitude" [zoom]="16">
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)" [iconUrl]="myLocationIconUrl" [visible]="isMarkersVisible">

                <agm-info-window [disableAutoPan]="false" #infoWindow>
                    <div>
                        "MyLocation "
                    </div>
                </agm-info-window>
            </agm-marker> 
        </agm-map> -->
    </div>
</div>