.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: aliceblue;
}

.recharge-wallet-form {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  label {
    font-size: 13.5px;
    color: #8c92ac;
    margin-bottom: 3px;
  }

  input,
  textarea {
    font-size: 15px;
    line-height: 15px;
    padding: 10px;
  }

  .rechargeBtn {
    background-color: #7000de;
    padding: 9px;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    width: 130px;
    margin: 0 0 0 auto;
  }
}