.defaulttheme {
    // Color
    --primary-color: #7000de;
    --secondary-color: #f9fafe;
    --primary-color-text: #fff;
    --white-color: #fff;
    --dark-color:#3e3e3e;
    --btn-radius: 3px;
    --gradient-color: linear-gradient(0deg, #7000de 0%, #7000de 100%);
    --gradient-color-hover: linear-gradient(0deg, #7000de 100%, #7000de 0%);
}