.inputlabel {
    padding: 8px 15px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    filter: drop-shadow(-0.464px 2px 3px rgba(12, 12, 12, 0.12));
    border-radius: var(--btn-radius);
    cursor: pointer;
    min-width: 175px; 
    width: max-content;
}
// .inputlabel:hover{
//   background-image: var(--gradient-color-hover);
// }


// .inputlabel1 {
//     width: 65% !important;
// }
input[type="file"] {
    display: none;
}
.defaultColor {
  background-image: var(--gradient-color);
  color: white;
}
.defaultColor:hover{
  background-image: var(--gradient-color-hover);
}

.disableColor{
  background-color: var(--secondary-color);
  color: grey;
  cursor: default;
  filter: unset !important;
}
