.mat-card-footer { 
    text-align: end;
    margin: 0;
    padding: 15px;
     button {
        margin-left: 15px;
        width: 120px;
        padding: 6px !important;
        font-size: 13px;
     }
}